
body {
    font-family: 'Poppins', sans-serif;
}

.cell:hover {
    background-color: #edf2f7; /* Light gray */
}

.reset-button {
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.reset-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}
